# Classes
public net.minecraft.resources.RegistryOps$RegistryInfo

# Constructors
public net.minecraft.server.packs.resources.SimpleJsonResourceReloadListener <init>(Lcom/mojang/serialization/DynamicOps;Lcom/mojang/serialization/Codec;Lnet/minecraft/resources/FileToIdConverter;)V

public net.minecraft.world.level.storage.loot.entries.LootPoolSingletonContainer$Builder functions
public net.minecraft.world.item.trading.TradeSet amount

public net.minecraft.world.item.trading.VillagerTrade wants
public net.minecraft.world.item.trading.VillagerTrade additionalWants
public net.minecraft.world.item.trading.VillagerTrade gives
public net.minecraft.world.item.trading.VillagerTrade merchantPredicate
public net.minecraft.world.item.trading.VillagerTrade givenItemModifiers
public net.minecraft.world.item.trading.VillagerTrade maxUses
public net.minecraft.world.item.trading.VillagerTrade reputationDiscount
public net.minecraft.world.item.trading.VillagerTrade xp
public net.minecraft.world.item.trading.VillagerTrade doubleTradePriceEnchantments